setuptools>=68
numpy
pandas
pyarrow
pytest
demoparser2
kaggle
nautilus_trader[polymarket,visualization]==1.225.0
bokeh
plotly
py-clob-client
duckdb
textual
nbformat
nbclient
ipykernel
httpx
aiohttp
msgspec
tqdm
